* {
  margin:0px;
  outline:none;
  padding:0px;}
body {
  background-color:rgb(100,100,100);
  height:100%;
  position:relative;
  width:100%;}
html {
  height:100%;
  width:100%;}
.clear { clear:both;}
.floatLeft { float:left;}
.floatRight { float:right;}
.canvas {
  background-color:rgb(10,10,10);
  border:5px solid rgb(200,20,20);
  box-shadow:5px 5px 5px rgb(0,0,0);
  height:400px;
  width:800px;}
.fieldname { width:80%;}
.fieldvalue { width:20%;}
.form {
  background-color:rgb(205,205,205);
  border-radius:10px 10px 0px 0px;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  width:400px;}
.graph {
  background-color:rgb(205,205,205);
  border-radius:20px;
  height:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width:900px;}
.input_radios { }
.input_text { width:100%;}
.menu {
  margin-left:auto;
  margin-right:auto;
  width:80%;}
.submenu { height:25px;}
.submenu_radios {
  margin-left:auto;
  margin-right:auto;
  width:40%;}
.submenu_buttons {
  margin-left:auto;
  margin-right:auto;
  width:40%;}
.title {
  font-family:Verdana,sans;
  line-height:25px;
  margin:10px;
  text-align:center;
  width:100%;}
